{
  "extends": [
    "airbnb-typescript",
    "prettier",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "plugins": ["prettier"],
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "rules": {
    "no-console":"off",
    "spaced-comment": ["error", "always", { "markers": ["/"] }],
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off"
  }
}
